# --- Specific to your project structure ---
**/bin/
**/target/
jobtrack-backend/jobtrack/.mvn/wrapper/maven-wrapper.properties
jobtrack-backend/jobtrack/mvnw
jobtrack-backend/jobtrack/mvnw.cmd

# --- Java & Maven ---
*.class
*.log
*.jar
*.war
*.ear
*.tar.gz
target/
bin/

# --- Spring Boot & Database ---
# IMPORTANT: This keeps your password file out of Git!
application.properties
**/src/main/resources/application.properties
.env
*.sh

# --- Frontend (If using React/Angular) ---
**/node_modules/
**/dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- IDEs (IntelliJ, Eclipse, VS Code) ---
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
.factorypath

# --- System Files ---
.DS_Store
Thumbs.db
